.MainLayout {
    display: flex;
    justify-content: center;
}

.MainLayout > .Container {
    max-width: 960px;
    min-width: 320px;
    flex-grow: 1;
    flex-shrink: 0
}

.MainLayout .OriginEditor {
    padding: 8px 16px;
}